// Navigation code here

.navigation {
	background-color: @nav-bg;
	border-bottom: 1px solid @nav-border;
	.flex-align(column, center);
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;

	h1 {
		font-size: 3.6rem;
		padding: 15px;
	}
	nav {
		width: 60%;
		.flex-justi(row, space-around);
		padding-bottom: 10px;
		@media @phone {
			width: 100%;
		}
		a {
			text-decoration: none;
			color: @nav-font;
			font-size: 1.6rem;
		}
	}
}
